@import 'mediawiki.skin.variables.less';

// Copy of the @font-size-fieldset-header rule from OOUI.
@font-size-fieldset-header: 16 / 16 / 0.875 / 1em;

.mw-ge-help-panel-home-button {
	min-height: 80px;
	margin-top: 16px;
	cursor: pointer;
	padding: 16px;
	background-color: @background-color-interactive-subtle;
	border: @border-subtle;
	border-radius: @border-radius-base;
	box-shadow: 0 1px 2px 0 rgba( 0, 0, 0, 0.25 );
	justify-content: space-between;
	display: flex;
	box-sizing: border-box;

	&-suggested-edits {
		border: @border-width-base @border-style-base @border-color-transparent;
		background-color: fade( @background-color-progressive-subtle, 50% );
	}

	&-text {
		display: flex;
		flex-direction: column;
		padding-right: 16px;
		justify-content: flex-end;

		&-subsubheader {
			padding-top: 0.5em;
		}

		&-subheader {
			font-size: 88.6%; // 12.4px on Vector and 14.183px on MinervaNeue
			padding-top: 0.5em;
			color: @color-subtle;
			line-height: 1.38;
		}
	}

	&-image {
		display: flex;
		align-items: flex-end;
		justify-content: center;

		&-icon {
			min-height: 40px;
			min-width: 40px;
			opacity: @opacity-icon-subtle;

			&-suggested-edits {
				min-height: 64px;
				min-width: 64px;
				opacity: @opacity-base;
			}
		}
	}

	&-preheader {
		padding-bottom: 8px;
		align-items: center;
		display: flex;

		&-icon {
			display: flex;
			// TODO: Is disabled icon opacity correct here?
			opacity: @opacity-icon-base--disabled;
		}

		&-text {
			display: flex;
			padding-left: 8px;
			font-weight: bold;
			font-size: 1em;
			color: @color-subtle;
		}
	}

	.oo-ui-icon-mentor {
		html:lang( he ) &,
		html:lang( yi ) & {
			// Use LTR asset for Hebrew since it contains a question mark
			/* @noflip */
			background-image: url( ../../images/mentor-ltr.svg );
		}
	}
}

.mw-ge-help-panel-processdialog {
	.mw-ge-help-panel-home-button {
		h2 {
			font-size: @font-size-fieldset-header;
			font-family: @font-family-base;
			font-weight: bold;
			color: @color-base;
			padding: unset;
			margin: unset;
		}
	}
}
